<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<div>
	<%= link_to "Text Inspections", "/text_inspections/new" %>
</div>
<div>
<%= link_to "Text Asciisfication", "/asciis/new" %>
</div>